<a href="https://colab.research.google.com/github/masonnystrom/Interview-questions/blob/master/Question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given the following dataset, containing information on baby names from the U.S. Social Security Administration.



Using the dataset, write code to find the following:

* Number of unique names across the dataset, split by both # of unique male/female names
* Top 10 most popular male and female names, along with their associated counts
* The top 10 most trending names (% growth) from 2010+, with an associated plot to show the relative growth between names

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
baby_names = pd.read_csv("https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/ddi_baby_names.csv")
print(baby_names.shape)
baby_names.head()

(1957046, 4)

   year       name gender  count
0  1880       Mary      F   7065
1  1880       Anna      F   2604
2  1880       Emma      F   2003
3  1880  Elizabeth      F   1939
4  1880     Minnie      F   1746

Sidney       278
Marion       278
William      278
Francis      278
Johnnie      278
            ...
Kyleerae       1
Lizneidy       1
Cataleena      1
Jahairy        1
Renarta        1
Name: name, Length: 98400, dtype: int64

In [0]:
top_names = baby_names['name'].value_counts()

In [28]:
top_names

AttributeError: ignored

In [18]:
unique_names = baby_names[baby_names['name'].nunique == True]

KeyError: ignored